node_modules
build
npm-debug.log
.env
log
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
package-lock.json
test.http
.DS_Store
.env
.env.development.local
.env.test.local
.env.production.local
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/node_modules
/.pnp
.pnp.js
# testing
/coverage
# production
/build
/log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
