<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="https://drapcode.com/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:type" content="website">
  <meta name="title" content="Add New Book">
  <meta property="og:title" content="Add New Book">
  <meta property="twitter:title" content="Add New Book">
  <meta property="og:image" content="https://drapcode.com/img/DrapCode-Icon-Dark.png">
  <meta property="twitter:image" content="https://drapcode.com/img/DrapCode-Icon-Dark.png">
  <meta property="og:url" content="/add-new-book.html">
  <meta property="twitter:url" content="/add-new-book.html">
  <meta charset="UTF-8">
  <title>Add New Book</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans&family=Merriweather&family=Merriweather+Sans&family=Quattrocento&family=Quattrocento+Sans&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Arvo&family=Copse&family=Cutive&family=Sanchez&family=Scope+One&family=Slabo+27px&family=Trocchi&family=Vesper+Libre&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Code:wght@300;400;500;600;700&family=Fira+Mono:wght@400;500;700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Changa+One:ital@0;1&family=Changa:wght@200;300;400;500;600;700;800&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Kaushan+Script&family=Nova+Cut&family=Nova+Flat&family=Nova+Mono&family=Nova+Oval&family=Nova+Round&family=Nova+Script&family=Nova+Slim&family=Nova+Square&family=Oswald:wght@200;300;400;500;600;700&family=Oxygen+Mono&family=Oxygen:wght@300;400;700&family=Sacramento&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abril+Fatface&family=Aldrich&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Berkshire+Swash&family=Bilbo&family=Carter+One&family=Castoro:ital@0;1&family=Cinzel:wght@400;500;600;700;800;900&family=Federo&family=Italianno&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Limelight&family=Oregano:ital@0;1&family=Padauk:wght@400;700&family=Pattaya&family=Prata&family=Vollkorn+SC:wght@400;600;700;900&family=Yesteryear&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Abel&family=Aladin&family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Black+Han+Sans&family=Bungee&family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Outline&family=Bungee+Shade&family=Delius&family=Delius+Swash+Caps&family=Delius+Unicase:wght@400;700&family=Julee&family=Limelight&family=Mako&family=Oleo+Script+Swash+Caps:wght@400;700&family=Oleo+Script:wght@400;700&family=Oregano:ital@0;1&family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Spartan:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu+Condensed&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zeyada&family=Zhi+Mang+Xing&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/resources/lib/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/resources/lib/css/toastr.min.css">
  <link rel='stylesheet' type='text/css' href='/resources/lib/css/sweetalert2.min.css'>
  <link rel='stylesheet' type='text/css' href='/resources/lib/css/select2.min.css'>
  <link rel='stylesheet' type='text/css' href='/resources/lib/css/loader.css'>

  <style>
    .dc-form-default .font-robo{font-family:Roboto,Arial,"Helvetica Neue",sans-serif}.dc-form-default .font-poppins{font-family:Poppins,Arial,"Helvetica Neue",sans-serif}.dc-form-default.font-robo{font-family:Roboto,Arial,"Helvetica Neue",sans-serif}.dc-form-default.font-poppins{font-family:Poppins,Arial,"Helvetica Neue",sans-serif}.dc-form-default .row{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.dc-form-default .row-space{-webkit-box-pack:justify;-webkit-justify-content:space-between;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.dc-form-default .col-2{width:-webkit-calc((100% - 60px)/ 2);width:-moz-calc((100% - 60px)/ 2);width:calc((100% - 60px)/ 2)}@media (max-width:767px){.dc-form-default .col-2{width:100%}}.dc-form-default blockquote,.dc-form-default dd,.dc-form-default dl,.dc-form-default fieldset,.dc-form-default figure,.dc-form-default h1,.dc-form-default h2,.dc-form-default h3,.dc-form-default h4,.dc-form-default h5,.dc-form-default h6,.dc-form-default hr,.dc-form-default legend,.dc-form-default ol,.dc-form-default p,.dc-form-default pre,.dc-form-default ul{margin:0;padding:0}.dc-form-default li>ol,.dc-form-default li>ul{margin-bottom:0}.dc-form-default table{border-collapse:collapse;border-spacing:0}.dc-form-default fieldset{min-width:0;border:0}.dc-form-default .form-container-wrapper{min-height:auto}.dc-form-default h1,.dc-form-default h2,.dc-form-default h3,.dc-form-default h4,.dc-form-default h5,.dc-form-default h6{font-weight:400}.dc-form-default h1{font-size:36px}.dc-form-default h2{font-size:30px}.dc-form-default h3{font-size:24px}.dc-form-default h4{font-size:18px}.dc-form-default h5{font-size:15px}.dc-form-default h6{font-size:13px}.dc-form-default .bg-blue{background:#2c6ed5}.dc-form-default .bg-red{background:#fa4251}.dc-form-default .p-t-100{padding-top:100px}.dc-form-default .p-t-180{padding-top:0}.dc-form-default .p-t-20{padding-top:20px}.dc-form-default .p-t-30{padding-top:30px}.dc-form-default .p-b-100{padding-bottom:50px}.dc-form-default .no-border-bottom{border-bottom:none!important}.dc-form-default.p-t-100{padding-top:100px}.dc-form-default.p-t-180{padding-top:0}.dc-form-default.p-t-20{padding-top:20px}.dc-form-default.p-t-30{padding-top:30px}.dc-form-default.p-b-100{padding-bottom:50px}.dc-form-default.no-border-bottom{border-bottom:none!important}.dc-form-default .wrapper{margin:0 auto}.dc-form-default .wrapper--w{max-width:780px}.dc-form-default .wrapper--w960{max-width:960px}.dc-form-default .wrapper--w680{max-width:680px}.dc-form-default .btn{line-height:40px;display:inline-block;padding:0 25px;cursor:pointer;color:#fff;font-family:Roboto,Arial,"Helvetica Neue",sans-serif;-webkit-transition:all .4s ease;-o-transition:all .4s ease;-moz-transition:all .4s ease;transition:all .4s ease;font-size:14px;font-weight:400;margin-right:1%;margin-top:1%}.dc-form-default .btn--radius{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.dc-form-default .btn--green{background:#57b846}.dc-form-default .btn--green:hover{background:#4dae3c}.dc-form-default td.active{background-color:#2c6ed5}.dc-form-default input[type=date i]{padding:14px}.dc-form-default .table-condensed td,.table-condensed th{font-size:14px;font-family:Roboto,Arial,"Helvetica Neue",sans-serif;font-weight:400}.dc-form-default .daterangepicker td{width:40px;height:30px}.dc-form-default .daterangepicker{border:none;-webkit-box-shadow:0 8px 20px 0 rgba(0,0,0,.15);-moz-box-shadow:0 8px 20px 0 rgba(0,0,0,.15);box-shadow:0 8px 20px 0 rgba(0,0,0,.15);display:none;border:1px solid #e0e0e0;margin-top:5px}.daterangepicker::before,.dc-form-default .daterangepicker::after{display:none}.dc-form-default .daterangepicker thead tr th{padding:10px 0}.dc-form-default .daterangepicker .table-condensed th select{border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;font-size:14px;padding:5px;outline:0}.dc-form-default .form-group input{outline:0;margin:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;width:100%;font-size:14px;font-family:inherit}.dc-form-default .form-group textarea{outline:0;margin:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;width:100%;font-size:14px;font-family:inherit}.dc-form-default .input-group{position:relative;margin-bottom:32px;border-bottom:1px solid #e5e5e5}.dc-form-default .form-group{position:relative;margin-bottom:32px}.dc-form-default .form-group label{padding:5px 0;font-size:16px;color:#666;background:0 0}.dc-form-default .form-check label{padding:0 0 0 5px;font-size:16px;color:#666;background:0 0;cursor:pointer}.dc-form-default .input-icon{position:absolute;font-size:18px;color:#ccc;right:8px;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);cursor:pointer}.dc-form-default .form-group input{color:#666;font-size:16px;font-weight:400}.dc-form-default .form-group textarea{padding:9px 0;color:#666;font-size:16px;font-weight:500}.dc-form-default .input--style::-webkit-input-placeholder{color:grey;font-weight:400}.dc-form-default .input--style:-moz-placeholder{color:grey;opacity:.5;font-weight:400}.dc-form-default .input--style::-moz-placeholder{color:grey;opacity:.5;font-weight:400}.dc-form-default .input--style:-ms-input-placeholder{color:grey;font-weight:400}.dc-form-default .input--style:-ms-input-placeholder{color:grey;font-weight:400}.dc-form-default .input::-webkit-input-placeholder{color:grey;font-weight:400}.dc-form-default .input:-moz-placeholder{color:grey;opacity:.5;font-weight:400}.dc-form-default .input::-moz-placeholder{color:grey;opacity:.5;font-weight:400}.dc-form-default .input:-ms-input-placeholder{color:grey;font-weight:400}.dc-form-default .input:-ms-input-placeholder{color:grey;font-weight:400}.dc-form-default .select--no-search .select2-search{display:none!important}.dc-form-default .rs-select2 .select2-container{width:100%!important;outline:0}.dc-form-default .select2.select2-container{width:100%!important;outline:0}.dc-form-default .rs-select2 .select2-container .select2-selection--single{outline:0;border:none;height:36px}.dc-form-default .rs-select2 .select2-container .select2-selection--single .select2-selection__rendered{line-height:36px;padding-left:0;color:grey;font-size:16px;font-family:inherit;font-weight:500}.dc-form-default .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow{height:34px;right:4px;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center}.dc-form-default .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b{display:none}.dc-form-default .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after{font-family:Material-Design-Iconic-Font;content:'\f2f9';font-size:18px;color:#ccc;-webkit-transition:all .4s ease;-o-transition:all .4s ease;-moz-transition:all .4s ease;transition:all .4s ease}.dc-form-default .rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after{-webkit-transform:rotate(-180deg);-moz-transform:rotate(-180deg);-ms-transform:rotate(-180deg);-o-transform:rotate(-180deg);transform:rotate(-180deg)}.dc-form-default .select2-container--open .select2-dropdown--below{border:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 8px 20px 0 rgba(0,0,0,.15);-moz-box-shadow:0 8px 20px 0 rgba(0,0,0,.15);box-shadow:0 8px 20px 0 rgba(0,0,0,.15);border:1px solid #e0e0e0;margin-top:5px;overflow:hidden}.dc-form-default .title{text-transform:initial;font-weight:700;margin-bottom:37px}.dc-form-default .form-container{overflow:auto;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#fff}.dc-form-default .form-container-2{-webkit-box-shadow:0 8px 20px 0 rgba(0,0,0,.15);-moz-box-shadow:0 8px 20px 0 rgba(0,0,0,.15);box-shadow:0 8px 20px 0 rgba(0,0,0,.15);-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;width:100%;display:table}.dc-form-default .form-container-2 .form-container-heading{background:url(https://webconnect-public.s3.ap-south-1.amazonaws.com/static/image/2383277.jpg) top left/cover no-repeat;width:0;display:table-cell}.dc-form-default .form-container-2 .form-container-body{display:table-cell;padding:80px 90px 88px}@media (max-width:767px){.dc-form-default .form-container-2{display:block}.dc-form-default .form-container-2 .form-container-heading{width:0;display:block;padding-top:0;background-position:left center}.dc-form-default .form-container-2 .form-container-body{display:block;padding:60px 50px}}.dc-form-default .form-check input[type=checkbox]{background:0 0;cursor:pointer;width:1em;height:1em;margin-top:.22rem}.dc-form-default .iti{width:100%}.dc-form-default .iti__selected-flag{height:calc(1.5em + .75rem + 2px)}.dc-form-default .select2-container--default .select2-selection--single .select2-selection__rendered{color:#444;line-height:38px;white-space:normal}.dc-form-default .select2-container .select2-selection--single{box-sizing:border-box;cursor:pointer;display:block;height:auto;user-select:none;-webkit-user-select:none}.dc-form-default .select2-container--default .select2-selection--single .select2-selection__arrow{height:38px}.error{border-color:red;color:red}*{box-sizing:border-box}body{margin:0}#i6ls{padding:12px;min-height:auto}
  </style>
  
  <script type="text/javascript" src="/resources/lib/js/jquery.min.js"></script>
  <script type="text/javascript" src="/resources/lib/js/popper.min.js"></script>
  <script type="text/javascript" src="/resources/lib/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script type="text/javascript" src="/resources/lib/js/feather.min.js"></script>
  <script type="text/javascript" src="/resources/constant.js"></script>

  <script>
    async function addNewBooks919c714b4a274862878b6646c1079871(ev) {
      let element = ev.target || ev.srcElement;
      let targetElement = ev.currentTarget;
      ev.preventDefault();
      var formID = element.id ? $("#" + element.id) : '';
      const ifValidToProcess = ev.type === "submit" ? formID.valid() : true;
      if (ifValidToProcess) {
        let response = null;
        try {

          if (response && response.status === 'error' && true) {
            return;
          }
          response = await saveCollection({ parameters: { "constructor": "", "collection": "new_books", "collectionRequest": "" }, response: response ? response.data : '', element: element, targetElement: targetElement });
          console.log(response);

          if (response && response.status === 'error' && false) {
            return;
          }
          response = await showAlertMessage({ parameters: { "successMessage": "Book added successfully", "errorMessage": "Error" }, response: response ? response.data : '', element: element, targetElement: targetElement });
          console.log(response);

          if (response && response.status === 'error' && true) {
            return;
          }
          response = await goToPage({ parameters: { "destination": "/dashboard", "dataToSend": "", "sendCurrentObjectID": "" }, response: response ? response.data : '', element: element, targetElement: targetElement });
          console.log(response);
        }
        catch (error) {
          console.log("error", error);
        }
      } else {
        console.log("I am submit event and not valid");
      }
    }
  </script>
  <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
  <div
    style="background-color:white;padding:5px; position: fixed;right: 15px;bottom: 15px;font-size: 15px;font-weight: 600;border-radius: 5px;border: 1px solid #223049;z-index:9999;">
    <a target="_blank" href="https://drapcode.com"
      style="text-decoration: none;color: #223049;display: flex;align-items: center">
      <img src="https://drapcode.com/favicon.png" alt="DrapCode" style="object-fit: contain;width: 20px" /> &nbsp;
      Made with DrapCode
    </a>
  </div>
  <div data-js="drapcode-sections" class="dc-sections" id="i6ls">
    <div class="container">
      <div class="row">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <form method="POST" action="collection-form/new_books/items" data-js="collection-form"
            onsubmit="return addNewBooks919c714b4a274862878b6646c1079871(event)" id="ixvj"
            data-form-collection="new_books"
            class="collection-form form-horizontal dc-form-default form-container-wrapper dc-form-bg p-t-180 p-b-180 font-poppins row">
            <div draggable="false" class="form-container form-container-2 wrapper wrapper--w">
              <div class="form-container-heading"></div>
              <div draggable="false" class="form-container-body" id="iouid">
                <h2 class="title" id="iwvk8">Add new books</h2>
                <div class="form-group col-12 col-md-12"><label for="book_title" class="label">Book Title</label><input
                    type="text" name="book_title" value="" placeholder="Book Title" class="input form-control"></div>
                <div class="form-group col-12 col-md-12"><label for="book_publisher" class="label">Book
                    publisher</label><input type="text" name="book_publisher" value="" placeholder="Book publisher"
                    class="input form-control"></div>
                <div class="form-group col-12 col-md-12"><label for="book_author" class="label">Book
                    Author</label><input type="text" name="book_author" value="" placeholder="Book Author"
                    class="input form-control"></div>
                <div class="form-group col-12 col-md-12"><label for="book_category" class="label">Book
                    Category</label><select name="book_category" id="ic7ht" class="select form-control">
                  </select></div>
                <div class="form-group col-12 col-md-12"><label for="quantity" class="label">Quantity</label><input
                    type="number" name="quantity" value="" placeholder="Quantity" class="input form-control"></div>
                <div class="form-group no-border-bottom col-12 col-md-12"><button role="button" type="submit"
                    class="btn btn-sm btn-primary">Submit</button><button role="button" type="button"
                    class="btn btn-sm btn-danger">Cancel</button></div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" id="itsp">
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/resources/lib/js/jquery.validate.min.js"></script>
  <script type="text/javascript" src="/resources/lib/js/additional-methods.min.js"></script>
  <script type="text/javascript" src="/resources/lib/js/select2.min.js"></script>
  <script type="text/javascript" src="/resources/lib/js/toastr.min.js"></script>
  <script type="text/javascript" src="/resources/lib/js/axios.js"></script>
  <script type="text/javascript" src="/resources/lib/js/sweetalert2.all.min.js"></script>
  <script type="text/javascript" src="/resources/math.min.js"></script>
  <script type="text/javascript" src="/resources/moment.js"></script>
  <script type="text/javascript" src="/resources/numeral.min.js"></script>
  <script type="text/javascript" src="/resources/voca.min.js"></script>
  <script type="text/javascript" src="/resources/utility.js"></script>
  <script type="text/javascript" src="/resources/action/utils.js"></script>
  <script type="text/javascript" src="/resources/action/accountActions.js"></script>
  <script type="text/javascript" src="/resources/action/restApi.js"></script>
  <script type="text/javascript" src="/resources/action/navigationActions.js"></script>
  <script type="text/javascript" src="/resources/action/collectionActions.js"></script>
  <script type="text/javascript" src="/resources/webconnect.js"></script>
  <script type="text/javascript" src="/resources/dataComponent/dataMap.js"></script>
  <script type="text/javascript" src="/resources/dataComponent/dataUtils.js"></script>
  <script type="text/javascript" src="/resources/dataComponent/dataTable.js"></script>
  <script type="text/javascript" src="/resources/dataComponent/dataGroup.js"></script>
  <script>window.addEventListener('load', (ev) => { })</script>
  <script>for (var items = document.querySelectorAll("#ic7ht"), i = 0, len = items.length; i < len; i++)!function () { console.log("CHECK >>>>", this.id), "undefined" != typeof loadDynamicSelectOptions && loadDynamicSelectOptions(this, '{"required":false,"staticOptions":["Action and Adventure","Classics","Comic Book","Novel","Historical Fiction"],"unique":false,"isMultiSelect":false,"isPluginField":false,"_id":"60f66fc63b24c8359a53b9bd","fieldTitle":{"en":"Book Category"},"type":"static_option","placeholder":{"en":"Book Category"},"validation":{"min":"","max":"","regex":"","allowedFileTypes":[],"noAllowedFiles":1},"refCollection":{"collectionName":"","collectionField":"","displayType":"dropdown","parentCollectionField":"","isShowAsText":false},"extraFieldSetting":{"dateDisplayType":"date","textareaDisplayType":"text-area"},"fieldName":"book_category","createdAt":"2021-07-20T06:40:06.447Z","updatedAt":"2021-07-20T06:40:06.447Z"}') }.bind(items[i])();</script>
  <span id="project-timezone" style="display:none;">0</span>
</body>

</html>