<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="https://drapcode.com/favicon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:type" content="website">
        <meta name="title" content="Edit Book">
        <meta property="og:title" content="Edit Book">
        <meta property="twitter:title" content="Edit Book">
        <meta property="og:image" content="https://drapcode.com/img/DrapCode-Icon-Dark.png">
        <meta property="twitter:image" content="https://drapcode.com/img/DrapCode-Icon-Dark.png">
        <meta property="og:url" content="/edit-book.html">
        <meta property="twitter:url" content="/edit-book.html">
        <meta charset="UTF-8">
    <title>Edit Book</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans&family=Merriweather&family=Merriweather+Sans&family=Quattrocento&family=Quattrocento+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Copse&family=Cutive&family=Sanchez&family=Scope+One&family=Slabo+27px&family=Trocchi&family=Vesper+Libre&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Code:wght@300;400;500;600;700&family=Fira+Mono:wght@400;500;700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Changa+One:ital@0;1&family=Changa:wght@200;300;400;500;600;700;800&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Kaushan+Script&family=Nova+Cut&family=Nova+Flat&family=Nova+Mono&family=Nova+Oval&family=Nova+Round&family=Nova+Script&family=Nova+Slim&family=Nova+Square&family=Oswald:wght@200;300;400;500;600;700&family=Oxygen+Mono&family=Oxygen:wght@300;400;700&family=Sacramento&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abril+Fatface&family=Aldrich&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Berkshire+Swash&family=Bilbo&family=Carter+One&family=Castoro:ital@0;1&family=Cinzel:wght@400;500;600;700;800;900&family=Federo&family=Italianno&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Limelight&family=Oregano:ital@0;1&family=Padauk:wght@400;700&family=Pattaya&family=Prata&family=Vollkorn+SC:wght@400;600;700;900&family=Yesteryear&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Abel&family=Aladin&family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Black+Han+Sans&family=Bungee&family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Outline&family=Bungee+Shade&family=Delius&family=Delius+Swash+Caps&family=Delius+Unicase:wght@400;700&family=Julee&family=Limelight&family=Mako&family=Oleo+Script+Swash+Caps:wght@400;700&family=Oleo+Script:wght@400;700&family=Oregano:ital@0;1&family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Spartan:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu+Condensed&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zeyada&family=Zhi+Mang+Xing&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="/resources/lib/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/resources/lib/css/toastr.min.css">
        <link rel='stylesheet' type='text/css' href='/resources/lib/css/sweetalert2.min.css'>
        <link rel='stylesheet' type='text/css' href='/resources/lib/css/select2.min.css'>
        <link rel='stylesheet' type='text/css' href='/resources/lib/css/loader.css'>
      
        <script type="text/javascript" src="/resources/lib/js/jquery.min.js"></script>
        <script type="text/javascript" src="/resources/lib/js/popper.min.js"></script>
        <script type="text/javascript" src="/resources/lib/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script type="text/javascript" src="/resources/lib/js/feather.min.js"></script>
        <script type="text/javascript" src="/resources/constant.js"></script>
      
        <script>
   async function addNewBooks919c714b4a274862878b6646c1079871(ev){
       let element=ev.target|| ev.srcElement;
       let targetElement = ev.currentTarget;
        ev.preventDefault();
          var formID = element.id ? $("#"+element.id):'';
          const ifValidToProcess = ev.type === "submit" ? formID.valid() : true;
          if(ifValidToProcess) {
            let response= null;
            try{
  
       if(response && response.status==='error' && true){
                    return;
              }
       response = await saveCollection({parameters:{"constructor":"","collection":"new_books","collectionRequest":""},response:response?response.data:'',element:element, targetElement:targetElement});
                                            console.log(response);
  
       if(response && response.status==='error' && false){
                    return;
              }
       response = await showAlertMessage({parameters:{"successMessage":"Book added successfully","errorMessage":"Error"},response:response?response.data:'',element:element, targetElement:targetElement});
                                            console.log(response);
  
       if(response && response.status==='error' && true){
                    return;
              }
       response = await goToPage({parameters:{"destination":"/dashboard","dataToSend":"","sendCurrentObjectID":""},response:response?response.data:'',element:element, targetElement:targetElement});
                                            console.log(response);}
                 catch(error){
                    console.log("error",error);  
                  }
                } else {
                  console.log("I am submit event and not valid");
                }
              }
</script>
        <script>
   async function editBook64d77064572a468f97a20bb91a03fc78(ev){
       let element=ev.target|| ev.srcElement;
       let targetElement = ev.currentTarget;
        ev.preventDefault();
          var formID = element.id ? $("#"+element.id):'';
          const ifValidToProcess = ev.type === "submit" ? formID.valid() : true;
          if(ifValidToProcess) {
            let response= null;
            try{
  
       if(response && response.status==='error' && true){
                    return;
              }
       response = await updateCollection({parameters:{"element":"","collectionRequest":""},response:response?response.data:'',element:element, targetElement:targetElement});
                                            console.log(response);
  
       if(response && response.status==='error' && false){
                    return;
              }
       response = await showAlertMessage({parameters:{"successMessage":"Updated","errorMessage":"Error"},response:response?response.data:'',element:element, targetElement:targetElement});
                                            console.log(response);
  
       if(response && response.status==='error' && true){
                    return;
              }
       response = await goToPage({parameters:{"destination":"/dashboard","dataToSend":"","sendCurrentObjectID":""},response:response?response.data:'',element:element, targetElement:targetElement});
                                            console.log(response);}
                 catch(error){
                    console.log("error",error);  
                  }
                } else {
                  console.log("I am submit event and not valid");
                }
              }
</script>
        <script>
   async function deleteBook21ebc454d09e4fdb902832986de6cb9d(ev){
       let element=ev.target|| ev.srcElement;
       let targetElement = ev.currentTarget;
        ev.preventDefault();
          var formID = element.id ? $("#"+element.id):'';
          const ifValidToProcess = ev.type === "submit" ? formID.valid() : true;
          if(ifValidToProcess) {
            let response= null;
            try{
  
       if(response && response.status==='error' && true){
                    return;
              }
       response = await deleteCollectionItem({parameters:{"collection":"new_books","collectionRequest":"","confirmationMessage":"Are You Sure?","successMessage":"Done"},response:response?response.data:'',element:element, targetElement:targetElement});
                                            console.log(response);
  
       if(response && response.status==='error' && true){
                    return;
              }
       response = await refreshSection({parameters:{"refreshPage":"4611419c-c257-4df4-829c-9f0d905eb6dd","refreshComponent":"data-table:ir7r0j"},response:response?response.data:'',element:element, targetElement:targetElement});
                                            console.log(response);}
                 catch(error){
                    console.log("error",error);  
                  }
                } else {
                  console.log("I am submit event and not valid");
                }
              }
</script>
    <style>
        .error {
            border-color: red;
            color: red;
        }
    </style>
        <style>* { box-sizing: border-box; } body {margin: 0;}#i6ls{padding:12px;min-height:auto;}</style>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div style="background-color:white;padding:5px; position: fixed;right: 15px;bottom: 15px;font-size: 15px;font-weight: 600;border-radius: 5px;border: 1px solid #223049;z-index:9999;">
      <a target="_blank" href="https://drapcode.com" style="text-decoration: none;color: #223049;display: flex;align-items: center">
        <img src="https://drapcode.com/favicon.png" alt="DrapCode" style="object-fit: contain;width: 20px"/> &nbsp;
        Made with DrapCode
      </a>
    </div>
    <div data-js="drapcode-sections" id="i6ls" class="dc-sections">
        <div class="container"><div class="row"><div id="i6kd" class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    </div><div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <form method="POST" action="collection-form/new_books/items" data-js="collection-form" onsubmit="return editBook64d77064572a468f97a20bb91a03fc78(event)" id="ixvj" data-form-collection="new_books" class="collection-form form-horizontal dc-form-default form-container-wrapper dc-form-bg p-t-180 p-b-180 font-poppins row"><div draggable="false" class="form-container form-container-2 wrapper wrapper--w"><div class="form-container-heading"></div><div draggable="false" id="iouid" class="form-container-body"><h2 id="iwvk8" class="title">Edit details</h2><div class="form-group col-12 col-md-12" id="ixlib"><label for="book_title" class="label">Book Title</label><input type="text" name="book_title" value="" placeholder="Book Title" id="itp9j" data-form-element-collection="book_title" class="input form-control"></div><div class="form-group col-12 col-md-12"><label for="book_publisher" class="label">Book publisher</label><input type="text" name="book_publisher" value="" placeholder="Book publisher" id="ibswg" data-form-element-collection="book_publisher" class="input form-control"></div><div class="form-group col-12 col-md-12"><label for="book_author" class="label">Book Author</label><input type="text" name="book_author" value="" placeholder="Book Author" id="iu4fh" data-form-element-collection="book_author" class="input form-control"></div><div class="form-group col-12 col-md-12"><label for="book_category" class="label">Book Category</label><select name="book_category" id="ic7ht" data-form-element-collection="book_category" class="select form-control"></select></div><div class="form-group col-12 col-md-12"><label for="quantity" class="label">Quantity</label><input type="number" name="quantity" value="" placeholder="Quantity" id="ie2uf" data-form-element-collection="quantity" class="input form-control"></div><div class="form-group no-border-bottom col-12 col-md-12"><button role="button" type="submit" class="btn btn-sm btn-primary">Submit</button><button role="button" type="button" class="btn btn-sm btn-danger">Cancel</button></div></div></div></form></div><div id="itsp" class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    </div></div></div></div>
        <script type="text/javascript" src="/resources/lib/js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="/resources/lib/js/additional-methods.min.js"></script>
        <script type="text/javascript" src="/resources/lib/js/select2.min.js"></script>
        <script type="text/javascript" src="/resources/lib/js/toastr.min.js"></script>
        <script type="text/javascript" src="/resources/lib/js/axios.js"></script>
        <script type="text/javascript" src="/resources/lib/js/sweetalert2.all.min.js"></script>
        <script type="text/javascript" src="/resources/math.min.js"></script>
        <script type="text/javascript" src="/resources/moment.js"></script>
        <script type="text/javascript" src="/resources/numeral.min.js"></script>
        <script type="text/javascript" src="/resources/voca.min.js"></script>
        <script type="text/javascript" src="/resources/utility.js"></script>
        <script type="text/javascript" src="/resources/action/utils.js"></script>
        <script type="text/javascript" src="/resources/action/accountActions.js"></script>
        <script type="text/javascript" src="/resources/action/restApi.js"></script>
        <script type="text/javascript" src="/resources/action/navigationActions.js"></script>
        <script type="text/javascript" src="/resources/action/collectionActions.js"></script>
        <script type="text/javascript" src="/resources/webconnect.js"></script>
        <script type="text/javascript" src="/resources/dataComponent/dataMap.js"></script>
        <script type="text/javascript" src="/resources/dataComponent/dataUtils.js"></script>
        <script type="text/javascript" src="/resources/dataComponent/dataTable.js"></script>
        <script type="text/javascript" src="/resources/dataComponent/dataGroup.js"></script>
        <script>window.addEventListener('load', (ev) => { })</script>
        <script>for(var items=document.querySelectorAll("#ic7ht"),i=0,len=items.length;i<len;i++)!function(){console.log("CHECK >>>>",this.id),"undefined"!=typeof loadDynamicSelectOptions&&loadDynamicSelectOptions(this,'{"required":false,"staticOptions":["Action and Adventure","Classics","Comic Book","Novel","Historical Fiction"],"unique":false,"isMultiSelect":false,"isPluginField":false,"_id":"60f66fc63b24c8359a53b9bd","fieldTitle":{"en":"Book Category"},"type":"static_option","placeholder":{"en":"Book Category"},"validation":{"min":"","max":"","regex":"","allowedFileTypes":[],"noAllowedFiles":1},"refCollection":{"collectionName":"","collectionField":"","displayType":"dropdown","parentCollectionField":"","isShowAsText":false},"extraFieldSetting":{"dateDisplayType":"date","textareaDisplayType":"text-area"},"fieldName":"book_category","createdAt":"2021-07-20T06:40:06.447Z","updatedAt":"2021-07-20T06:40:06.447Z"}')}.bind(items[i])();</script>
    <span id="project-timezone" style="display:none;">0</span> 
</body>
</html>