<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="https://drapcode.com/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:type" content="website">
  <meta name="title" content="Home">
  <meta property="og:title" content="Home">
  <meta property="twitter:title" content="Home">
  <meta property="og:image" content="https://drapcode.com/img/DrapCode-Icon-Dark.png">
  <meta property="twitter:image" content="https://drapcode.com/img/DrapCode-Icon-Dark.png">
  <meta property="og:url" content="/home.html">
  <meta property="twitter:url" content="/home.html">
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans&family=Merriweather&family=Merriweather+Sans&family=Quattrocento&family=Quattrocento+Sans&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Arvo&family=Copse&family=Cutive&family=Sanchez&family=Scope+One&family=Slabo+27px&family=Trocchi&family=Vesper+Libre&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Code:wght@300;400;500;600;700&family=Fira+Mono:wght@400;500;700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Changa+One:ital@0;1&family=Changa:wght@200;300;400;500;600;700;800&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Kaushan+Script&family=Nova+Cut&family=Nova+Flat&family=Nova+Mono&family=Nova+Oval&family=Nova+Round&family=Nova+Script&family=Nova+Slim&family=Nova+Square&family=Oswald:wght@200;300;400;500;600;700&family=Oxygen+Mono&family=Oxygen:wght@300;400;700&family=Sacramento&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abril+Fatface&family=Aldrich&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Berkshire+Swash&family=Bilbo&family=Carter+One&family=Castoro:ital@0;1&family=Cinzel:wght@400;500;600;700;800;900&family=Federo&family=Italianno&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Limelight&family=Oregano:ital@0;1&family=Padauk:wght@400;700&family=Pattaya&family=Prata&family=Vollkorn+SC:wght@400;600;700;900&family=Yesteryear&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Abel&family=Aladin&family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Black+Han+Sans&family=Bungee&family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Outline&family=Bungee+Shade&family=Delius&family=Delius+Swash+Caps&family=Delius+Unicase:wght@400;700&family=Julee&family=Limelight&family=Mako&family=Oleo+Script+Swash+Caps:wght@400;700&family=Oleo+Script:wght@400;700&family=Oregano:ital@0;1&family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Spartan:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu+Condensed&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zeyada&family=Zhi+Mang+Xing&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/resources/lib/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/resources/lib/css/toastr.min.css">
  <link rel='stylesheet' type='text/css' href='/resources/lib/css/sweetalert2.min.css'>
  <link rel='stylesheet' type='text/css' href='/resources/lib/css/select2.min.css'>
  <link rel='stylesheet' type='text/css' href='/resources/lib/css/loader.css'>


  <style>
    .error {
      border-color: red;
      color: red;
    }
  </style>
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
    }

    footer {
      position: relative;
      font-weight: 400;
      font-size: 15px;
      width: 100%;
      bottom: 0;
      right: 0;
      left: 0;
      clear: both;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      list-style: none;
    }

    a:focus,
    a:hover {
      text-decoration: none;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
    }

    a:focus {
      outline: 0;
    }

    img {
      max-width: 100%;
    }

    p {
      font-size: 16px;
      line-height: 30px;
      color: #363940;
      font-weight: 300;
    }

    h4 {
      margin: 0;
      font-weight: 400;
      padding: 0;
      color: #363940;
    }

    a {
      color: #007bff;
    }

    .footer-big .footer-widget {
      margin-bottom: 40px;
    }

    .footer-big .footer-menu ul li a,
    .footer-big p,
    .footer-big ul li {
      color: #363940;
    }

    .footer--dark h4,
    .footer--dark .footer-big p,
    .footer--dark .footer-menu ul li a,
    .footer--dark .footer-big ul li {
      color: #e9ecef;
    }

    .footer-menu ul li a {
      font-size: 15px;
      line-height: 32px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
    }

    .footer-menu ul li a:hover {
      color: #0056b3;
    }

    .mini-footer p {
      margin: 0;
      line-height: 26px;
      font-size: 15px;
      color: #999;
    }

    .mini-footer p a {
      color: #007bff;
    }

    .mini-footer p a:hover {
      color: #34bfa3;
    }

    .widget-about img {
      display: block;
      margin-bottom: 30px;
    }

    .widget-about p {
      font-weight: 400;
    }

    .widget-about .contact-details {
      margin: 30px 0 0 0;
    }

    .widget-about .contact-details li {
      margin-bottom: 10px;
    }

    .widget-about .contact-details li:last-child {
      margin-bottom: 0;
    }

    .widget-about .contact-details li span {
      padding-right: 12px;
    }

    .widget-about .contact-details li a {
      color: #007bff;
    }

    .card-link+.card-link {
      margin-left: 1.25rem;
    }

    .btn:not(:disabled):not(.disabled) {
      cursor: pointer;
    }

    #ieix {
      width: 100%;
    }

    [class^="feather-"],
    [class*=" feather-"] {
      font-family: 'feather' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .feather-book-open:before {
      content: "\e923";
    }

    .feather-gift:before {
      content: "\e96b";
    }

    .feather-grid:before {
      content: "\e973";
    }

    .feather-truck:before {
      content: "\e9e8";
    }

    body {
      font-family: 'Lato', sans-serif;
    }

    .bg-white.topsection img {
      height: 51px !important;
    }

    #header {
      transition: all 0.5s;
      z-index: 997;
      position: absolute;
      width: 100%;
    }

    #header .nav-link {
      text-transform: uppercase;
      font-weight: 500;
      padding: 15px;
      color: #fff;
    }

    #header li.nav-item.active .nav-link {
      color: #4fe4ee;
      font-weight: 600;
    }

    #hero .fs-27 {
      font-size: 27px;
    }

    #header.header-transparent {
      background: transparent;
    }

    #header .logo h1 {
      font-size: 28px;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-weight: 700;
      letter-spacing: 1px;
    }

    #header .logo h1 a,
    #header .logo h1 a:hover {
      color: #fff;
      text-decoration: none;
    }

    #header .logo img {
      max-height: 100px;
      margin-top: 20px;
    }

    .icon-box i {
      font-size: 26px;
      color: #13c7d4;
    }

    .navbar-brand {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: bold;
    }

    .navbar-brand span {
      color: #13c7d4;
    }

    #hero {
      width: 100%;
      overflow: hidden;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(https://drapcode-static.s3.amazonaws.com/pre-built-sections/home/home001/assets/img/heroimg.png);
      padding: 0;
      background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://webconnect-upload.s3.ap-south-1.amazonaws.com/85k33u124wb766egb4xg6gb6676x/bc00d6af-fa5b-41d3-85a9-fa6d118fb67e.jpeg');
      background-repeat: repeat, no-repeat;
      background-position: left top, left top;
      background-attachment: scroll, scroll;
      background-size: auto, cover;
    }

    #hero .carousel-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      position: relative;
      height: 90vh;
      padding-top: 60px;
    }

    #hero .btn-get-started {
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 12px 32px;
      border-radius: 50px;
      transition: 0.5s;
      line-height: 1;
      margin: 10px;
      color: #fff;
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
      border: 2px solid #13c7d4;
      background: #13c7d4;
    }

    p.border-bottom {
      height: 4px;
      width: 70px;
      background: #47b2e4;
      margin: auto;
    }

    #hero .btn-get-started:hover {
      background: transparent;
      color: #fff;
      text-decoration: none;
    }

    .services .icon-box {
      padding: 30px;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      transition: all 0.4s ease-in-out;
      width: 100%;
      height: 100%;
    }

    .services .icon {
      position: absolute;
      left: 5px;
    }

    .services .icon img {
      height: 64px;
      transition: 0.5s;
    }

    .services .title {
      margin-left: 40px;
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 18px;
    }

    .services .title a {
      color: #2a2c39;
      transition: ease-in-out 0.3s;
    }

    .services .title a:hover {
      color: #13c7d4;
    }

    .services .description {
      font-size: 14px;
      margin-left: 40px;
      line-height: 24px;
      margin-bottom: 0;
    }

    #iwvfz {
      float: right;
    }

    #i7ft {
      margin: 0 0 0 0;
      position: static;
      display: block;
      width: 100%;
    }

    #iw3lj {
      text-align: center;
    }

    #igdez {
      text-align: center;
      font-size: 50px;
    }

    #i6z8g {
      font-weight: 400;
    }

    #igpkz {
      text-align: left;
      float: none;
      margin: 10px auto 10px auto;
    }

    #im8cy {
      padding: 60px 12px 60px 12px;
      min-height: auto;
    }

    #ib4y5 {
      text-align: center;
    }

    #id9zy {
      text-align: center;
      display: block;
    }

    #i8ywf {
      margin: 40px -15px 0 -15px;
    }

    #i9ilo {
      width: 10%;
      color: #13c7d4;
    }

    #ix8di {
      text-align: center;
      border-top: 0 solid rgb(33, 37, 41);
      border-left: 0 solid rgb(33, 37, 41);
      border-bottom: 0 solid rgb(33, 37, 41);
      border-right: 0 solid rgb(33, 37, 41);
      padding: 0 5px 0 5px;
    }

    #ikosd {
      font-size: 30px;
      margin: 30px 0 8px 0;
    }

    #i0ckc {
      margin: 20px 0 16px 0;
    }

    #ivvs5 {
      font-size: 30px;
      margin: 30px 0 8px 0;
    }

    #isuy4 {
      margin: 20px 0 16px 0;
    }

    #ijsep {
      font-size: 30px;
      margin: 30px 0 8px 0;
    }

    #i2yhs {
      font-size: 30px;
      margin: 30px 0 8px 0;
    }

    #imkbe {
      margin: 20px 0 16px 0;
    }

    #iclsa {
      text-align: center;
      border-top: 0 solid rgb(33, 37, 41);
      border-left: 0 solid rgb(33, 37, 41);
      border-bottom: 0 solid rgb(33, 37, 41);
      border-right: 0 solid rgb(33, 37, 41);
      padding: 0 5px 0 5px;
    }

    #id4w5 {
      text-align: center;
      border-top: 0 solid rgb(33, 37, 41);
      border-left: 0 solid rgb(33, 37, 41);
      border-bottom: 0 solid rgb(33, 37, 41);
      border-right: 0 solid rgb(33, 37, 41);
      padding: 0 5px 0 5px;
    }

    #ip68i {
      width: 10%;
      color: #13c7d4;
    }

    #ihhxq {
      margin: 20px 0 16px 0;
    }

    #igsno {
      width: 10%;
      color: #13c7d4;
    }

    #imv18 {
      width: 10%;
      color: #13c7d4;
    }

    #iopc4 {
      text-align: center;
      border-top: 0 solid rgb(33, 37, 41);
      border-left: 0 solid rgb(33, 37, 41);
      border-bottom: 0 solid rgb(33, 37, 41);
      border-right: 0 solid rgb(33, 37, 41);
      padding: 0 5px 0 5px;
    }

    #ibrzg {
      padding: 5px;
      height: 310.8px;
      width: 100%;
      border-top: 1px solid #13C7D4;
      border-left: 1px solid #13C7D4;
      border-bottom: 1px solid #13C7D4;
      border-right: 1px solid #13C7D4;
    }

    #iakkl {
      padding: 5px;
      height: 310.8px;
      width: auto;
      border-top: 1px solid #13C7D4;
      border-left: 1px solid #13C7D4;
      border-bottom: 1px solid #13C7D4;
      border-right: 1px solid #13C7D4;
    }

    #i7xky {
      padding: 5px;
      height: 310.8px;
      width: auto;
      border-top: 1px solid #13C7D4;
      border-left: 1px solid #13C7D4;
      border-bottom: 1px solid #13C7D4;
      border-right: 1px solid #13C7D4;
    }

    #iwu0d {
      padding: 5px;
      height: 310.8px;
      width: 100%;
      border-top: 1px solid #13C7D4;
      border-left: 1px solid #13C7D4;
      border-bottom: 1px solid #13C7D4;
      border-right: 1px solid #13C7D4;
    }

    #iwu0d:hover {
      color: black;
      background-color: none;
    }

    @font-face {
      font-family: 'Feather';
      src: url('https://drapcode-static.s3.amazonaws.com/pre-built-sections/home/home001/fonts/Feather.ttf?sdxovp') format('truetype'),
        url('https://drapcode-static.s3.amazonaws.com/pre-built-sections/home/home001/fonts/Feather.woff?sdxovp') format('woff'),
        url('https://drapcode-static.s3.amazonaws.com/pre-built-sections/home/home001/fonts/Feather.svg?sdxovp#Feather') format('svg');
      font-weight: normal;
      font-style: normal;
    }

    @media only screen and (max-width: 600px) {
      nav.navbar.fixed-top {
        background: #060606 !important;
      }
    }
  </style>
  <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
  <div
    style="background-color:white;padding:5px; position: fixed;right: 15px;bottom: 15px;font-size: 15px;font-weight: 600;border-radius: 5px;border: 1px solid #223049;z-index:9999;">
    <a target="_blank" href="https://drapcode.com"
      style="text-decoration: none;color: #223049;display: flex;align-items: center">
      <img src="https://drapcode.com/favicon.png" alt="DrapCode" style="object-fit: contain;width: 20px" /> &nbsp;
      Made with DrapCode
    </a>
  </div>
  <div data-js="pre-built-section" id="ieix" class="pre-built-section width100">
    <header id="header" class="d-flex align-items-center header-transparent home001">
      <nav id="i7ft" class="navbar navbar-expand-lg navbar-dark bg-transparent home001">
        <div id="ikev" class="container home001"><a href="#" class="navbar-brand home001">Lorem <span> Ipsum
            </span></a><button type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler collapsed home001"><span class="navbar-toggler-icon home001"></span></button>
          <div id="navbarResponsive" class="navbar-collapse collapse home001">
            <ul id="iwvfz" class="navbar-nav ml-auto home001">
              <li class="nav-item home001"><a href="#" id="id1jm" class="nav-link home001">Home
                  <span class="sr-only home001">(current)</span></a></li>
              <li class="nav-item home001"><a href="#" id="iseix" class="nav-link home001">About</a></li>
              <li class="nav-item home001"><a href="#" id="igvrl" class="nav-link home001">Services</a></li>
              <li class="nav-item active home001"><a href="#" id="i81tg" class="nav-link home001">Portfolio</a></li>
              <li class="nav-item home001"><a href="#" id="ivlzg" class="nav-link home001">About us</a></li>
              <li class="nav-item home001"><a href="#" id="ili1q" class="nav-link home001">Team</a></li>
              <li class="nav-item home001"><a href="#" id="ilr9m" class="nav-link home001">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section id="hero" class="d-flex flex-column align-items-center home001">
      <div id="ii429" class="carousel-container home001">
        <div class="container home001">
          <div id="imxak" class="row home001">
            <div id="iw3lj" class="home001 col-sm-12 col-12 col-md-12 col-lg-12">
              <h1 id="igdez" class="text-white home001">Book Store</h1>
              <p id="i6z8g" class="text-white text-left home001">The quality of the content is not determined by the
                section it sits in in the bookstore.
              </p><a href="#about" id="igpkz" class="btn-get-started scrollto home001">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div data-js="drapcode-sections" id="im8cy" class="dc-sections">
    <div id="i9yxp" class="container">
      <div id="id9zy" class="row">
        <div id="iesqq" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h1 id="ib4y5">Book Store</h1>
          <p id="iwi9d">The Online Books Store is the world&#039;s largest bookstore and library, with a large selection
            of popular and top-selling titles. Top Authors are here; simply subscribe with your email address to stay up
            to date.</p>
        </div>
      </div>
      <div id="i8ywf" class="row">
        <div id="ix8di" class="col">
          <div id="iwu0d" class="box"><i data-js="drapcode-icons" id="i9ilo" class="drapcode-icons">
              <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                data-gjs="drapcode-icons-svg" draggable="false" class="feather feather-gift">
                <polyline points="20 12 20 22 4 22 4 12">
                </polyline>
                <rect x="2" y="7" width="20" height="5">
                </rect>
                <line x1="12" y1="22" x2="12" y2="7">
                </line>
                <path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z">
                </path>
                <path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z">
                </path>
              </svg></i>
            <h1 id="ikosd">Free Gift Wrap</h1>
            <p id="i0ckc">All orders come with free gift wrapping. Wrapping includes a blue box with a ribbon of your
              choice.</p>
          </div>
        </div>
        <div id="iopc4" class="col">
          <div id="ibrzg" class="box"><i data-js="drapcode-icons" id="imv18" class="drapcode-icons">
              <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                data-gjs="drapcode-icons-svg" draggable="false" class="feather feather-book-open">
                <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z">
                </path>
                <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z">
                </path>
              </svg></i>
            <h1 id="ivvs5">Used Books</h1>
            <p id="isuy4">We supply you with the best used book sales. If you&#039;ve read them once, you can sell them
              to us.</p>
          </div>
        </div>
        <div id="iclsa" class="col">
          <div id="i7xky" class="box"><i data-js="drapcode-icons" id="ip68i" class="drapcode-icons">
              <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                data-gjs="drapcode-icons-svg" draggable="false" class="feather feather-truck">
                <rect x="1" y="3" width="15" height="13">
                </rect>
                <polygon points="16 8 20 8 23 11 23 16 16 16 16 8">
                </polygon>
                <circle cx="5.5" cy="18.5" r="2.5">
                </circle>
                <circle cx="18.5" cy="18.5" r="2.5">
                </circle>
              </svg></i>
            <h1 id="ijsep">Free Shipping</h1>
            <p id="imkbe">We provide free shipping from one country to another with extra discount. </p>
          </div>
        </div>
        <div id="id4w5" class="col">
          <div id="iakkl" class="box"><i data-js="drapcode-icons" id="igsno" class="drapcode-icons">
              <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                data-gjs="drapcode-icons-svg" draggable="false" class="feather feather-grid">
                <rect x="3" y="3" width="7" height="7">
                </rect>
                <rect x="14" y="3" width="7" height="7">
                </rect>
                <rect x="14" y="14" width="7" height="7">
                </rect>
                <rect x="3" y="14" width="7" height="7">
                </rect>
              </svg></i>
            <h1 id="i2yhs">Return &amp; Exchange</h1>
            <p id="ihhxq">Return and Exchange is possible in 5 days. In case of lost or damage Return &amp; Exchange is
              not possible.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/resources/lib/js/jquery.validate.min.js"></script>
  <script type="text/javascript" src="/resources/lib/js/additional-methods.min.js"></script>
  <script type="text/javascript" src="/resources/lib/js/select2.min.js"></script>
  <script type="text/javascript" src="/resources/lib/js/toastr.min.js"></script>
  <script type="text/javascript" src="/resources/lib/js/axios.js"></script>
  <script type="text/javascript" src="/resources/lib/js/sweetalert2.all.min.js"></script>
  <script type="text/javascript" src="/resources/math.min.js"></script>
  <script type="text/javascript" src="/resources/moment.js"></script>
  <script type="text/javascript" src="/resources/voca.min.js"></script>

  <script>window.addEventListener('load', (ev) => { })</script>
  <script></script>
  <span id="project-timezone" style="display:none;">0</span>
</body>

</html>